*.txt
forfeits.json
.vscode/settings.json
game/*.rpyc
game/images/accessoires/Template.pdn
game/images/Guide/*.png
game/tl/english/images/accessoires/Template.pdn

game/renpy_warp_1.34.0_fa4e5e97.rpe.py

game/cache/*.rpyb
game/saves/persistent
game/tl/english/*.rpyc
game/tl/None/common.rpymc
tests/test_sample.py
game/saves/auto-1-LT1.save
game/saves/navigation.json

